.sidebar-chat {
  display: flex;
  align-items: center;
  padding: 0.5em;
  cursor: pointer;
  /* overflow-y: scroll; */
}

.sidebar-chat > .chat__info {
  padding-left: 0.4em;
}

.sidebar-chat > .avatar {
  width: 45px;
  height: 45px;
}

.sidebar-chat:hover {
  background-color: #e9ecef;
  border-radius: 0.6em;
}

.chat__info > p {
  color: gray;
  font-size: small;
}
.chat__info > h3 {
  font-weight: 400;
  font-size: 12px !important;
}
