.feed {
  flex: 1;
  padding: 30px 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.light.__feed__ {
  background-color: #f0f2f5;
}

/* Styles specific to dark mode */

.dark.__feed__ {
  background-color: #18191a;
}
