:root {
  --white-bg: #fff;
  --input-bg: #eff2f5;
  --box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
  --hover-icon-color: #2e81f4;
}

.my__header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  /* background-color: var(--white-bg); */
  z-index: 100;
  box-shadow: var(--box-shadow);
  padding: 5px;
  /* border-bottom: 1px solid rgb(65, 63, 63); */
}

.header__left {
  display: flex;
  justify-content: space-between;
}

.header__input {
  display: flex;
  align-items: center;
  background-color: var(--input-bg);
  padding: 10px;
  margin-left: 10px;
  border-radius: 999px;
}

.header__left > img {
  height: 40px;
}

.header__input > input {
  border: none;
  background-color: transparent;
  outline-width: 0;
}

.header__middle {
  display: flex;
  justify-content: center;
  gap: 2em;
  flex: 1;
}

/* .header__option > .MuiSvgIcon-root {
  color: gray;
} */

.circle > .iconic > .MuiSvgIcon-root {
  width: 0.8em !important;
  height: 0.8em !important;
}

/* .header__option:hover > .MuiSvgIcon-root {
  color: var(--hover-icon-color);
} */

.header__option {
  display: flex;
  align-items: center;
  padding: 0 30px;
  cursor: pointer;
}

.header__info {
  display: flex;
  align-items: center;
}

.header__info > h4 {
  margin-left: 10px;
}

.header__right {
  display: flex;
}

/* .header__option--active > .MuiSvgIcon-root {
  color: var(--hover-icon-color);
}

.header__option--active {
  border-bottom: 4px solid var(--hover-icon-color);
} */

.icon__header {
  color: black;
}

.circle {
  margin: 0.3em;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d8dadf;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Common styles for both light and dark modes */

/* Styles specific to light mode */

.light.__header__ {
  background-color: white;
}

.light.home:hover {
  background-color: #e4e6e8;
}
.light.watch:hover {
  background-color: #e4e6e8;
}
.light.market:hover {
  background-color: #e4e6e8;
}
.light.group:hover {
  background-color: #e4e6e8;
}
.light.games:hover {
  background-color: #e4e6e8;
}

svg.app.light {
  color: #000 !important;
}

svg.messenger.light {
  color: #000 !important;
}

/* Styles specific to dark mode */

.dark.__header__ {
  /* Define styles for items in dark mode */
  background-color: #242526;
}

.dark.__header__input__ {
  background-color: #3a3b3c;
}

.dark.__header__input__icon {
  color: gray;
}
.dark.home:hover {
  background-color: #3a3b3c;
}
.dark.watch:hover {
  background-color: #3a3b3c;
}
.dark.market:hover {
  background-color: #3a3b3c;
}

.dark.group:hover {
  background-color: #3a3b3c;
}
.dark.games:hover {
  background-color: #3a3b3c;
}

.dark.app {
  background-color: #4e4f50;
}
.dark.messenger {
  background-color: #4e4f50;
}

.dark.notify {
  background-color: #4e4f50;
}

svg.app.dark {
  color: #fff !important;
}

svg.messenger.dark {
  color: #fff !important;
}
svg.notify.dark {
  color: #fff !important;
}
